*{margin:0px; padding:0px;}
h1,h2,h3,h4,h5{color:#636363;}
p{margin-bottom:10px; font: 12px/21px arial;}
.header{
	width:100%; float:left;
	height:88px; background:url(img/bg-ripple-header.png) repeat-x bottom;
	clear:both;
}
.headerPanel{
	width:960px; margin:0 auto;
	height:100%;
}
.logo{
	float:left; margin-top:30px;
}

.contentsPanel{
	width:960px; margin:0 auto; clear:both;
}

.welcomeMessage{
	width:100%; padding-top:10px; clear:both; padding-bottom:20px; overflow:hidden;
}

.button-yg{
	padding:10px 10px; margin-top:15px; float:left;
	font: 12px/21px arial; text-decoration:none; font-weight:bolder; color:#fff; border:1px solid #189B4F;
	background: #29e643; /* Old browsers */
	background: -moz-linear-gradient(top,  #29e643 0%, #1aaf59 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#29e643), color-stop(100%,#1aaf59)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #29e643 0%,#1aaf59 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #29e643 0%,#1aaf59 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #29e643 0%,#1aaf59 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #29e643 0%,#1aaf59 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29e643', endColorstr='#1aaf59',GradientType=0 ); /* IE6-9 */
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}
.codes span{background:#EFEFEF; border:1px solid #DBDBDB;}

.footer{
	font: 12px/21px arial;
	width:100%; clear:both; margin-top:20px;
	border-top:1px solid #DBDBDB; padding-bottom:20px; padding-top:10px;
}
.version{color:#DBDBDB;}